<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.notixia.whh.mytestapplication">

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:name="com.notixia.whh.mytestapplication.injection.DaggerApplication"
        android:theme="@style/AppTheme.NoActionBar">
        <activity
            android:name=".activities.DataBindActivity"
            android:windowSoftInputMode="stateAlwaysHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".activities.attachement_file.AttachmentFileActivity">
        </activity>

        <activity
            android:name=".activities.TimeClockActivity"
            android:theme="@style/AppTheme">
        </activity>
        <activity
            android:name=".activities.Test2Activity"
            android:theme="@style/AppTheme">
        </activity>

        <activity android:name=".activities.SayHelloActivity" />

        <activity android:name=".activities.MainActivity" />

        <activity android:name=".activities.DependencyInjectionTestActivity" />

        <activity android:name=".activities.attachement_file.UploadFileActivity" />

        <activity android:name=".activities.Retrofit2Activity" />

        <provider
            android:name=".utils.GenericFileProvider"
            android:authorities="${applicationId}.file.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="48029025f3b74e3fa10c517475121d488534fb7f" />
    </application>



</manifest>